<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.mapper.DeptMapper">
	<resultMap type="project.domain.Dept" id="DeptRM">
		<id property="dept_id" column="DEPT_ID" />
		<result property="dept_name" column="DEPT_NAME" />
		<result property="fdept_name" column="FDEPT_NAME" />
		<result property="fdept_id" column="FDEPT_ID" />
	</resultMap>
	<update id="setNull" parameterType="int">
		update dept
		set
		FDEPT_ID = 0
		where
		DEPT_ID = #{dept_id}
	</update>
	<select id="selectByfdeptid" parameterType="int" resultMap="DeptRM">
		SELECT 
		  * 
		FROM
		  dept d 
		WHERE d.`fdept_id` = {fdept_id}
	</select>
	<select id="select" resultMap="DeptRM">
		SELECT 
		  d.`dept_id`,
		  d.`dept_name`,
		  d.`fdept_id`,
		  de.`dept_name` AS fdept_name 
		FROM
		  dept d
		  LEFT JOIN
		  dept de 
		  ON
		d.`fdept_id` = de.`dept_id` 
		ORDER BY d.`fdept_id` 
	</select>
	<select id="selectOne" parameterType="int" resultType="project.domain.Dept">
		SELECT 
		  d.`dept_id`,
		  d.`dept_name`,
		  d.`fdept_id`,
		  de.`dept_name` AS fdept_name 
		FROM
		  dept d
		LEFT JOIN
		  dept de 
		ON d.`fdept_id` = de.`dept_id` 
		  WHERE d.`dept_id` = #{dept_id} 
		ORDER BY d.`fdept_id` 
	</select>
	<select id="selectByName" parameterType="string" resultMap="DeptRM">
		SELECT 
		  * 
		FROM
		  dept 
		WHERE dept_name = #{dept_name} 
	</select>
	<select id="selectFather" resultMap="DeptRM">
		SELECT 
		  d.`dept_id`,
		  d.`dept_name`
		FROM
		  dept d
	</select>
	<insert id="insert" parameterType="project.domain.Dept">
	INSERT INTO dept (dept_name, fdept_id) 
	VALUES
	  (#{dept_name},#{fdept_id})
	</insert>
	<insert id="insertFather" parameterType="project.domain.Dept">
	INSERT INTO dept (dept_name, fdept_id) 
	VALUES
	  (#{dept_name},#{dept_id})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE 
		FROM
		  dept 
		WHERE dept_id = #{dept_id} 
	</delete>
	<update id="updateFather" parameterType="project.domain.Dept">
	update dept
		set
		FDEPT_ID = #{fdept_id}
		where
		DEPT_ID=#{dept_id}
	</update>
	<update id="update" parameterType="project.domain.Dept">
		update dept
		<set>
		<if test="dept_name!=null">DEPT_NAME = #{dept_name},</if>
		<if test="fdept_name!=null">FDEPT_NAME = #{fdept_name},</if>
		<if test="fdept_id!=null">FDEPT_ID = #{fdept_id},</if>
		</set>
		where
		DEPT_ID=#{dept_id}
	</update>
</mapper>